<%- include('../partials/base')  %> 


<h1> Dog Walking List</h1>


<% dogs.forEach(function(i,idx) { %>
    <h3 id='DogName'> Dog Name:</h3>
    <a href='/dogs/<%= idx %>'><%= i.name %></a>
   
    
<% }) %>

<%- include('../partials/footer') %> 